html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*額外加的*/
/*100%假設原始圖片300px 最大就300px*/

img{
	max-width: 100%;
	height: auto;
}

/*全域border box*/
*,*::before,*::after{
	box-sizing: border-box;
}

/*滑鼠移過去和手指點 會有聚焦效果 藍色的線 outline:0 取消藍色線*/
:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}


html body div.clear,
html body span.clear {
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

body{
    font-family: "Noto Sans TC,Regular";
}
a{
    text-decoration: none;
}
sub{
    vertical-align:sub;
}

.top{
    text-decoration: none;
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: block;
    position: fixed;
    background: #56C4C5;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    right: 20px;
    bottom: 10px;
    z-index: 100;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.header{
    position: relative;
    height: 770px;
    background-image:url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home.svg);
    background-position: top right;
    background-repeat: no-repeat;
    .ball1 {
        position: absolute;
        width: 360px;
        height: 360px;
        top: 590px;
        left: -242px;
    }
    .topbar{
        display: flex;
        padding: 30px;
        justify-content: space-between;
        h1{
            a {
                width: 220px;
                height: 36px;
                display: block;
                text-indent: 110%;
                overflow: hidden;
                white-space: nowrap;
                background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/chatTalker_images/logo.png?raw=true);
                background-repeat: no-repeat;
                background-size: 220px 36px;
            }
        }
        .plan{
            width: 128px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            display: inline-block;
            text-decoration: none;
            color: white;
            background: #FF5D50;
            border-radius: 22px;
        }
    }
    .header-mid{
        display: flex;
        .text{
            width: 50%;
            padding:157px 0 157px 0;
            .h2-up{
                font-size:18px;
                font-weight: bold;
                color: #56C4C5;
                margin-bottom: 8px;
                line-height: 26px;
            }
            h2{
                line-height: 70px;
                font-weight:bold;
                font-size: 48px;
                color: #221E1F;
            }
            .h2-down {
                font-size: 20px;
                color: #221E1F;
                margin-top: 16px;
                line-height: 29px;
            }
        }
        .picture{
            width: 50%;
            background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home.svg);
            background-repeat: no-repeat;
            background-position: 0 center;
        }
    }
}
@media (max-width:768px) {
    .header {
        height: auto;
        background-image:none;
        .ball1{
            width: 126px;
            height: 126px;
            top: 740px;
            left: -77px;
        }

        .topbar {
            border-bottom: 2px solid #FFD153;
            padding: 24px 20px 24px 20px;

            h1{
                a {
                    width: 130px;
                    background-size: 130px 36px;
                }
            }
        }
        .header-mid {
            margin: 0 20px 0 20px;
            flex-wrap: wrap;
        .text {
            height: auto;
            width: 100%;
            padding: 32px 0 32px 0;
            margin-bottom: 32px;
    
            .h2-up {
                font-size: 16px;
                line-height: 24px;
            }
    
            h2 {
                line-height: 46px;
                font-size: 32px;
            }
    
            .h2-down {
                font-size: 20px;
                line-height: 24px;
            }
        }
        
        .picture {
            width: 100%;
            height: 300px;
            background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home.svg),
            url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home_sm.svg);
            background-repeat: no-repeat, no-repeat;
            background-position: center center,center,center;
        }
        }
    }
}
//footer
.footer{
    margin-top: 30px;
    position: relative;
    .mobile{
        display: none;
    }
    img{
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    h2{
        padding-top: 260px;
        padding-bottom: 48px;
        text-align: center;
        font-weight: bold;
        font-size: 32px;
        line-height: 46px;
        color: #221E1F;
    }
    a {
        text-align: center;
        font-size: 16px;
        line-height: 26px;
        color: white;
        width: 136px;
        height: 50px;
        display: block;
        padding: 12px;
        background: #56C4C5;
        border: 1px solid #56C4C5;
        border-radius: 27px;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    p{
        padding: 16px;
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        color: #221E1F;
        background: #F5F5F5 0% 0% no-repeat padding-box;
    }
}
@media (max-width:768px) {
    .footer{
        .desktop{
            display: none;
        }
        .mobile{
            display: block;
        }
        h2{
            font-size: 24px;
        }
    }
}

//content

.platform{
    h3{
        margin-top: 100px;
        margin-bottom: 48px;
        text-align: center;
        font-weight: bold;
        font-size: 32px;
        line-height: 46px;
        color: #221E1F;
        z-index: 10;
    }
    &-items{
        display: flex;
        justify-content: space-evenly;
        .platform-item{
            width: 244px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                width: 90px;
                height: 90px;
            }
            h4{
                margin-top: 24px;
                margin-bottom: 26px;
                font-weight: bold;
                font-size: 25px;
                line-height: 35px;
                color: #221E1F;
            }
            p{
                font-size: 16px;
                line-height: 24px;
                color: #747474;
            }
        }
    }
}
@media (max-width:768px) {
    .platform{
        &-items {
            flex-wrap: wrap;
            .platform-item {
                width: 100%;
                margin-bottom: 24px;
            }
        }
    }
}

//role
.role{
    position: relative;
    text-align: center;
    color: #221E1F;
    .ball2 {
        width: 310px;
        height: 310px;
        background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball02.svg);
        background-repeat: no-repeat;
        background-size: 310px 310px;
        position: absolute;
        right: -100px;
        bottom: -140px;
        z-index: -1;
    }
    h3{
        font-size: 32px;
        font-weight: bold;
        margin-top: 100px;
    }
    p{
        font-size: 20px;
        padding: 10px;
        line-height: 29px;
        margin-top: 16px;
        margin-bottom: 48px;
    }
    &-items{
        display: flex;
        justify-content: space-between;
        .role-item{
            background: white;
            margin-right: 8px;
            margin-left: 8px;
            width: 260px;
            text-align: center;
            box-shadow: 0px 2px 10px #00000014;
            img{
                width: 100%;
                border-radius: 12px 12px 0px 0px;
            }
            h4{
                font-size: 16px;
                line-height: 24px;
                margin-top: 16px;
                margin-bottom: 16px;
                color: #56C4C5;
                font-weight: bold;
            }
            p{
                font-size: 16px;
                line-height: 24px;
                color: #221E1F;
                margin-bottom: 24px;
            }
        }
    }
}
@media (max-width:768px) {
    .role{
        &-items{
            flex-wrap: wrap;
            .role-item{
                margin-bottom: 24px;
            }
        }
        .ball2 {
            width: 135px;
            height: 135px;
            background-size: 135px 135px;
            right: -47px;
            bottom: 0;
        }
    }
}

//introduction
.introduction{
    margin-top: 100px;
    display: flex;
    flex-direction: row-reverse;
    .in-text {
        width: 50%;
        color: #221E1F;
        padding-left: 100px;

        h3 {
            margin-top: 165px;
            font-weight: bold;
            font-size: 32px;
            line-height: 46px;
        }

        p {
            margin-top: 16px;
            margin-bottom: 24px;
            font-size: 18px;
            line-height: 26px;
        }

        a {
            text-align: center;
            font-size: 16px;
            line-height: 26px;
            color: white;
            width: 136px;
            height: 50px;
            display: block;
            padding: 12px;
            background: #56C4C5;
            border: 1px solid #56C4C5;
            border-radius: 27px;
        }
    }
    .in-items{
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .in-item{
            width: 45%;
            padding: 32px;
            box-shadow: 0px 2px 10px #00000014;
            border-radius: 12px;
            margin-bottom: 28px;
            .in-item-icon{
                width: 86px;
                height: 86px;
                border-radius: 50%;
                background: white;
                box-shadow: 0px 2px 10px #00000014;
                img{
                    padding: 18px 14px 14px 18px;
                }
            }
            h4 {
                font-weight: bold;
                font-size: 18px;
                line-height: 26px;
                color: #221E1F;
                margin-top: 24px;
                margin-bottom: 16px;
            }
            p{
                font-size: 16px;
                line-height: 24px;
                color: #221E1F;
            }
        }
    }
}

@media (max-width:768px) {
    .introduction {
        flex-wrap: wrap;
        .in-text {
            width: 100%;
    
            h3 {
                margin-top: 28px;
            }
        }
        .in-items {
            margin-top: 32px;
            width: 100%;
        }
    }
}
@media (max-width:414px){
    .introduction {
        .in-text {
            padding: 0;
            margin: 0 auto;
            a {
                margin: 0 auto;
            }
        }
        .in-items {
            .in-item{
                width: 80%;
                margin: 12px auto;
            }
        }
    }
}

//evaluation
.evaluation{
    position: relative;
    .mobile{
        display: none;
    }
    .ball3 {
            width: 150px;
            height: 150px;
            background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball03.svg);
            background-repeat: no-repeat;
            background-size: 150px 150px;
            position: absolute;
            left: -50px;
            top: 20px;
            z-index: -1;
        }
    h3{
        text-align: center;
        font-weight: bold;
        font-size: 32px;
        line-height: 46px;
        letter-spacing: 0px;
        color: #221E1F;
        margin-top: 100px;
        margin-bottom: 48px;
    }
    .slider{
        display: flex;
        justify-content: space-between;
        .slider-item{
            width: 30%;
            position: relative;
            .photo{
                position: absolute;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                top:0;
                left:32px;
            }
            .box{
                padding: 48px 32px 24px 32px;
                margin-top: 56px;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                box-shadow: 0px 2px 10px #00000014;
                border-radius: 12px;
                color: #221E1F;
                margin-bottom: 32px;
                p{
                    font-size: 16px;
                    line-height: 24px;
                    padding-bottom: 24px;
                    border-bottom: 1px solid #DDDDDD;
                }
                h4{
                    margin-top: 24px;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 24px;
                    margin-bottom: 8px;
                }
                .name{
                    display: flex;
                    justify-content: space-between;
                    h5{
                        font-size: 16px;
                        line-height: 24px;
                        color: #221E1F;
                    }
                    .star-box{
                        display: flex;
                        justify-content: space-between;
                        .star{
                            width: 17px;
                            height: 16px;
                            background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/icon_star.svg);
                            background-repeat: no-repeat;
                            background-size: 17px 16px;
                            margin-left: 8px;
                        }
                    }
                }
            }
        }
    }
    .page{
        position: absolute;
        bottom: 0px;
    }
    .swiper-pagination-bullet-active{
        background-color: #FFD153;
        width: 16px;
        border-radius: 10px;
    }
    .gray-l{
        color: gray;
        height: 5px;
        &:after{
            margin-right: 25px;
        }
    } 
    .gray-r {
        color: gray;
        height: 5px;
        &:after {
            margin-left: 25px;
        }
    }
}
@media (max-width:768px) {
    .evaluation {
        .desktop{
            display: none;
        }
        .mobile{
            display: block;
        }
        .slider {
            display: block;
            .slider-item {
                margin: 0 auto;
                width: 90%;
                .photo {
                    top: -60px;
                }
            }
        }
    }
}


//pay page
.container2{
    margin: 0 auto;
    max-width: 944px;
    padding-left: 15px;
    padding-right: 15px;
}
.header2 {
    position: relative;
    height: 470px;
    background: #F7F9FD;
    border-radius: 0px 0px 0px 300px;
    .banner{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;
    }
    .mobile{
        display: none;
    }
    .ball1 {
        position: absolute;
        width: 360px;
        height: 360px;
        top: 590px;
        left: -242px;
    }

    .topbar {
        padding: 30px;
        position: relative;

        h1 {
            a {
                width: 220px;
                height: 36px;
                display: block;
                text-indent: 110%;
                overflow: hidden;
                white-space: nowrap;
                background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/chatTalker_images/logo.png?raw=true);
                background-repeat: no-repeat;
                background-size: 220px 36px;
            }
        }

        .plan {
            top:20px;
            right: 20px;
            position: absolute;
            z-index: 100;
            width: 128px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            display: inline-block;
            text-decoration: none;
            color: white;
            background: #FF5D50;
            border-radius: 22px;
        }
    }
    .text{
        color: #221E1F;
        h2{
            margin-top: 116px;
            font-size: 48px;
            font-weight: bold;
            line-height: 70px;
        }
        p{
            font-size: 16px;
            line-height: 24px;
        }
    }
}
@media (max-width:768px) {
    .header2{
        .topbar {
            background: white;
            border-bottom: 2px solid #FFD153;
            padding: 24px 20px 24px 20px;
            height: 72px;

            h1 {
                a {
                    width: 130px;
                    background-size: 130px 36px;
                }
            }
        }
        .text{
            position: absolute;
            z-index: 100;
        }
        .desktop{
            display: none;
        }
        .mobile{
            display: block;
        }
        .banner {
            position: absolute;
            top: 72px;
            right: 0;
        }
    }
}


//program
.program{
    margin-top: 100px;
    color: #221E1F;
    position: relative;
    .ball4 {
        width: 360px;
        height: 360px;
        background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball03.svg);
        background-repeat: no-repeat;
        background-size: 360px 360px;
        position: absolute;
        left: -267px;
        top: 340px;
        z-index: -1;
    }
    h3{
        text-align: center;
        font-weight: bolder;
        font-size: 32px;
        line-height: 46px;
        margin-bottom: 48px;
    }
    .menu{
        display: flex;
        justify-content: center;
        .btn{
            width: 130px;
            display: block;
            text-align: center;
            color: #56C4C5;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #56C4C5;
            border-radius: 27px;
            padding: 12px;
            margin-right: 16px;
            margin-left: 16px;
            &:hover{
                color: #FFFFFF;
                background: #56C4C5;
            }
        }
        .active {
            color: #FFFFFF;
            background: #56C4C5;
        }
    }
    &-items{
        margin-top: 54px;
        display: flex;
        justify-content: space-between;
        .program-item{
            width: 45%;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 2px 10px #00000014;
            border-radius: 12px;
            h4{
                text-align: center;
                font-weight: bold;
                font-size: 24px;
                line-height: 35px;
                padding: 10px;
                border: 1px solid #DDDDDD;
            }
            >p{
                margin-top: 54px;
                text-align: center;
                font-size: 16px;
                line-height: 24px;
            }
            .price{
                margin-top: 32px;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                >span{
                    font-size: 29px;
                    line-height: 42px;
                }
                .price-box{
                    text-align: center;
                    padding: 24px;
                    width: 170px;
                    height: 108px;
                    background: #F5F5F5 0% 0% no-repeat padding-box;
                    border-radius: 12px;
                    p{
                        font-size: 12px;
                        line-height: 17px;
                    }
                    span{
                        font: normal normal normal 32px/35px Comfortaa;
                        sub{
                            font: normal normal bold 12px/17px Noto Sans TC;
                        }
                    }
                    .green{
                        color: #56C4C5;
                    }
                }
            }
            ul{
                margin-left: 29px;
                margin-top: 36px;
                .check{
                    padding-left: 30px;
                    margin-bottom: 20px;
                    background: transparent url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/icon_check.svg') 0% 0% no-repeat padding-box;
                }
            }
            a{
                display: block;
                margin: 0 auto;
                text-align: center;
                font-size: 16px;
                line-height: 26px;
                color: white;
                width: 136px;
                height: 50px;
                display: block;
                padding: 12px;
                background: #56C4C5;
                border: 1px solid #56C4C5;
                border-radius: 27px;
                margin-bottom: 32px;
                margin-top: 12px;
            }
        }
    }
}

@media (max-width:768px) {
    .program{
        .menu{
            flex-wrap: wrap;
            .btn{
                margin-bottom: 20px;
            }
        }
        &-items{
            flex-wrap: wrap;
            .program-item{
                width: 100%;
                margin: 20px auto;
                .price {
                    .price-box {
                        padding: 20px;
                        width: 140px;
                    }
                }
            }
        }
    }
}

//question
.question{
    margin-top: 100px;
    color: #221E1F;
    h3{
        text-align: center;
        font-weight: bold;
        font-size: 32px;
        line-height: 46px;
    }
    .list{
        margin-top: 48px;
        .list-item{
            position: relative;
            padding: 16px 32px 16px 32px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 2px 10px #00000014;
            border-radius: 12px;
            margin-bottom: 16px;
            p{
                font-size: 18px;
                line-height: 28px;
            }
            .add{
                position: absolute;
                top:20px;
                right:32px;
                width: 20px;
                height: 20px;
                background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/icon_plus.svg);
                background-repeat: no-repeat;
                background-position: center center;
            }
            .reduce{
                position: absolute;
                top: 20px;
                right: 25px;
                width: 20px;
                height: 20px;
                background-image:url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/icon_minus.svg);
                background-repeat: no-repeat;
                background-position: center center;
            }
            .switch{
                display: none;
            }
            .listDown{
                margin-top: 24px;
                display: none;
                font-size: 16px;;
                line-height: 32px;
                color: #747474;
                font-size: 18px;
                line-height: 28px;
            }
            .listUp{
                font-weight: bold;
                color: #56C4C5;
            }
        }
    }
}